<Routes>
    <Route>
        <RoutePoint latitude="51.836171" longitude="10.593968"/>
        <RoutePoint latitude="51.842021" longitude="10.611916"/>
        <RoutePoint latitude="51.842477" longitude="10.634479"/>
        <RoutePoint latitude="51.843035" longitude="10.649491"/>
        <RoutePoint latitude="51.850486" longitude="10.659587"/>
    </Route>
</Routes>